.info{
    font-weight: bolder;
    font-style: italic;
   color: rgb(235, 229, 229);
   font-size: large;
}

body{
    background-color: rgb(155, 68, 123);
    /* background-image: url("https://th.bing.com/th/id/OIP.NNabncdLM4eRVJAZX6cWMgAAAA?w=154&h=180&c=7&r=0&o=5&pid=1.7"); */
}
@font-face{
 
}

.h1{
    color: aliceblue;
    font-weight: bolder;
    font-size: 50px;
}

.ghanaflag{
    border-radius:30px;
}